In [5]:
# Import dependencies.
import requests
import json
import pandas as pd
from pprint import pprint
from pathlib import Path

In [6]:
# path to source files
activities = Path("Resources/activities_uncleaned.csv")
fees_passes = Path("Resources/fees_passes_uncleaned.csv")
park_activities = Path("Resources/park_activities_uncleaned.csv")
parks_list = Path("Resources/parks_list_uncleaned.csv")
visitors_center = Path("Resources/visitor_centers_uncleaned.csv")

# read CSVs into DataFrames
activities_df = pd.read_csv(activities)
fees_passes_df = pd.read_csv(fees_passes)
park_activities_df = pd.read_csv(park_activities)
parks_list_df = pd.read_csv(parks_list)
visitors_center_csv = pd.read_csv(visitors_center)


activities_df.head()

   total  limit  start                                               data
0     40     50      0  {'id': '09DF0950-D319-4557-A57E-04CD2F63FF42',...
1     40     50      0  {'id': '13A57703-BB1A-41A2-94B8-53B692EB7238',...
2     40     50      0  {'id': '5F723BAD-7359-48FC-98FA-631592256E35',...
3     40     50      0  {'id': '7CE6E935-F839-4FEC-A63E-052B1DEF39D2',...
4     40     50      0  {'id': '071BA73C-1D3C-46D4-A53C-00D5602F7F0E',...

In [11]:
print(len(activities_df))

40

In [7]:
fees_passes_df.head()

   total  limit  start                                               data
0    471    700      0  {'parkCode': 'abli', 'isFeeFreePark': True, 'i...
1    471    700      0  {'parkCode': 'acad', 'isFeeFreePark': False, '...
2    471    700      0  {'parkCode': 'adam', 'isFeeFreePark': False, '...
3    471    700      0  {'parkCode': 'afam', 'isFeeFreePark': True, 'i...
4    471    700      0  {'parkCode': 'afbg', 'isFeeFreePark': True, 'i...

In [8]:
park_activities_df.head()

   total  limit  start                                               data
0     40     50      0  {'id': '09DF0950-D319-4557-A57E-04CD2F63FF42',...
1     40     50      0  {'id': '13A57703-BB1A-41A2-94B8-53B692EB7238',...
2     40     50      0  {'id': '5F723BAD-7359-48FC-98FA-631592256E35',...
3     40     50      0  {'id': '7CE6E935-F839-4FEC-A63E-052B1DEF39D2',...
4     40     50      0  {'id': '071BA73C-1D3C-46D4-A53C-00D5602F7F0E',...

In [12]:
print(len(park_activities_df))

40

In [9]:
parks_list_df.head()

   total  limit  start                                               data
0    471    700      0  {'id': '77E0D7F0-1942-494A-ACE2-9004D2BDC59E',...
1    471    700      0  {'id': '6DA17C86-088E-4B4D-B862-7C1BD5CF236B',...
2    471    700      0  {'id': 'E4C7784E-66A0-4D44-87D0-3E072F5FEF43',...
3    471    700      0  {'id': '1A47416F-DAA3-4137-9F30-14AF86B4E547',...
4    471    700      0  {'id': 'E6E1D22A-7A89-47F8-813C-B611059A8CF9',...

In [13]:
print(len(parks_list_df))

471

In [10]:
visitors_center_csv.head()

   total  limit  start                                               data
0    697    700      0  {'id': '6DC6F87E-5D33-469F-8C9C-6D821186633A',...
1    697    700      0  {'id': 'CFBC5D4E-1ADE-42DD-ACC1-D142BB2BD595',...
2    697    700      0  {'id': '179B5CF5-0117-4AEA-A50D-BB49BACC7AD8',...
3    697    700      0  {'id': '8BCDFDF2-1757-4E6D-9616-868AAAB34289',...
4    697    700      0  {'id': 'D0B53518-9750-4722-9D6D-E5320C21CB5C',...